.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 420px;
  max-width: 92%;
  max-height: 85vh;

  display: flex;
  flex-direction: column;

  background: var(--color-surface);
  border-radius: 14px;

  border: 1px solid var(--color-border);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  z-index: 1001;
  overflow: hidden;
}

@keyframes modalFade {
  from {
    opacity: 0;
    transform: translate(-50%, -55%) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal__header {
  padding: var(--space-4) var(--space-5);
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--color-surface);
  position: sticky;
  top: 0;
  z-index: 2;

  h3 {
    margin: 0;
    font-size: var(--text-lg);
    font-weight: bold;
  }

  button {
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: var(--color-text-muted);
  }
}

.modal__body {
  padding: var(--space-5);

  overflow-y: auto;
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  scroll-behavior: smooth;
}

.modal__body::-webkit-scrollbar {
  width: 6px;
}

.modal__body::-webkit-scrollbar-track {
  background: transparent;
}

.modal__body::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 10px;
}

.modal__body::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.35);
}