<div class="page-header">
  <h2>الأقسام</h2>

  <button class="add-btn" (click)="openModal()">
    إضافة قسم
  </button>
</div>

<!-- new department modal -->
<app-modal [title]="isEditMode ? 'تعديل قسم' : 'إضافة قسم'" [isOpen]="isModalOpen" (isClose)="closeModal()">

  <form [formGroup]="form" (ngSubmit)="submit()">

    <!-- name -->
    <div class="form-group">
      <label>اسم القسم</label>
      <input formControlName="name" />

      <span class="error" *ngIf="form.controls.name.touched && form.controls.name.invalid">
        هذا الحقل مطلوب
      </span>
    </div>

    <!-- description -->
    <div class="form-group">
      <label>الوصف</label>
      <input formControlName="description" />
    </div>

    <!-- actions -->
    <div class="form-actions">
      <button type="submit" class="add-btn" [disabled]="form.invalid || isSubmitting">
        @if(isEditMode) { {{ isSubmitting ? 'جارٍ التحديث...' : 'تحديث' }} }

        @else { {{ isSubmitting ? 'جارٍ الحفظ...' : 'حفظ' }} }
      </button>

      <button type="button" class="btn-secondary" (click)="closeModal()">
        إلغاء
      </button>
    </div>

  </form>

</app-modal>

@if(loading) {
<div>تحميل...</div>
}

@else {
<div class="table-container">

  <table class="table">
    <thead>
      <tr>
        <th>الاسم</th>
        <th>الوصف</th>
        <th>تاريخ الإنشاء</th>
        <th>الإجراءات</th>
      </tr>
    </thead>

    <tbody>
      @for (d of departments; track $index) {
      <tr>
        <td>{{ d.departmentName }}</td>
        <td>{{ d.description }}</td>
        <td>{{ d.createdAt | date: 'yyyy-MM-dd ' }}</td>
        <td>
          <button class="btn-secondary" (click)="editDepartment(d)">
            تعديل
          </button>
          <!-- <button class="btn-secondary" (click)="deleteDepartment(d)">
                حذف
              </button> -->
        </td>
      </tr>
      }
    </tbody>
  </table>

</div>
}