<div class="app-layout">

  <!-- Sidebar -->
  <aside class="sidebar" [class.open]="isSidebarOpen">
    <div class="sidebar__header">
      <h3>مستودع كتيبة الإشارة</h3>
    </div>

    <nav class="sidebar__menu">
      <a routerLink="/items" routerLinkActive="active">
        <lucide-icon name="boxes"></lucide-icon>
        <span>المواد</span>
      </a>
      <a routerLink="/categories" routerLinkActive="active">
        <lucide-icon name="folder"></lucide-icon>
        <span>التصنيفات</span>
      </a>
      <a routerLink="/departments" routerLinkActive="active">
        <lucide-icon name="building"></lucide-icon>
        <span>الأقسام</span>
      </a>
      <a routerLink="/admin/users" routerLinkActive="active">
        <lucide-icon name="users"></lucide-icon>
        <span>المستخدمون</span>
      </a>
    </nav>
  </aside>

  <!-- Overlay (mobile) -->
  <div 
    class="overlay" 
    *ngIf="isSidebarOpen" 
    (click)="closeSidebar()">
  </div>

  <!-- Main -->
  <div class="main">

    <!-- Navbar -->
    <header class="navbar">
    <button class="menu-btn" (click)="toggleSidebar()">
        ☰
      </button>

      <div class="navbar__title" routerLink="items" >
        <img class="eagle-img" src="assets/images/Syrian-Eagle.svg" alt="Logo">
        فرع الاتصالات وتكنولوجيا المعلومات
      </div>

      <div class="navbar__actions">
        <button class="btn-primary" (click)="ui.toggleTheme()">🌙</button>
      </div>
    </header>

    <!-- Content -->
    <main class="content">
      <div class="page">
        <router-outlet></router-outlet>
      </div>
    </main>

  </div>

</div>