.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(270deg,
            #0b3d2e,
            #0f3d2e,
            #14532d,
            #0f3d2e);
    background-size: 400% 400%;

    animation: gradientMove 18s ease-in-out infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.login-card {
    background: #ffffff;
    padding: 35px;
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #222;
}

/* LOGO */
.logo img {
    width: 80px;
    margin-bottom: 15px;
}

/* TITLE */
h2 {
    color: #0b6b3a;
    margin-bottom: 5px;
}

.subtitle {
    color: #666;
    margin-bottom: 20px;
}

/* FORM */
.form-group {
    text-align: right;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 13px;
    color: #444;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    color: #222;
    transition: 0.3s;
}

.form-group input:focus {
    border-color: #0b6b3a;
    background: #fff;
    outline: none;
}

/* LOGIN BUTTON */
.login-btn {
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg, #0b6b3a, #1f8a55);
    border: none;
    color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

.login-btn:hover {
    opacity: 0.9;
}

/* LINKS */
.actions {
    text-align: center;
}

.register {
    margin-top: 15px;
}

.link-btn {
    background: none;
    border: none;
    color: #0b6b3a;
    cursor: pointer;
    font-weight: 500;
}

.link-btn:hover {
    text-decoration: underline;
}

.error {
    text-align: right;
    margin-top: 5px;
}

.error small {
    color: #e53935;
    font-size: 12px;
}

@media (max-width: 576px) {

    .login-card {
        width: 90%;
        padding: 25px;
        border-radius: 15px;
    }

    h2 {
        font-size: 20px;
    }

    .subtitle {
        font-size: 13px;
    }

    .form-group input {
        padding: 8px;
    }

    .login-btn {
        padding: 9px;
    }

    .logo img {
        width: 60px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {

    .login-card {
        width: 70%;
    }
}

@media (min-width: 1200px) {

    .login-card {
        width: 400px;
        padding: 40px;
    }
}