.login-container {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    background: linear-gradient(270deg,
            #0b3d2e,
            #0f3d2e,
            #14532d,
            #0f3d2e);
    background-size: 400% 400%;
    animation: gradientMove 18s ease-in-out infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.login-card {
    background: var(--color-bg);
    padding: 30px;
    border-radius: 18px;
    width: 100%;
    max-width: 400px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #222;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-bottom: 20px;
}

.logo img {
    width: 70px;
}

h2 {
    color: var(--color-primary);
    margin: 0;
    font-size: 22px;
}

.subtitle {
    color: var(--color-text);
    opacity: 0.7;
    margin: 0;
    font-size: 14px;
}

.form-group {
    text-align: right;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 13px;
    color: var(--color-text);
    opacity: 0.7;
}

.form-group input {
    width: 100%;
    padding: 11px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    color: #222;
    transition: 0.3s;
}

.form-group input:focus {
    border-color: var(--color-primary);
    background: #fff;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 11px;
    background: linear-gradient(45deg, #0b6b3a, #1f8a55);
    border: none;
    color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.login-btn:hover {
    opacity: 0.9;
}

.login-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.error {
    text-align: right;
    margin-top: 5px;
}

.error small {
    color: #d32f2f;
    font-size: 12px;
}

@media (max-width: 576px) {

    .login-container {
        align-items: flex-start;
        padding-top: 40px;
    }

    .login-card {
        width: 100%;
        padding: 20px;
        border-radius: 14px;
    }

    .logo img {
        width: 55px;
    }

    h2 {
        font-size: 18px;
    }

    .subtitle {
        font-size: 12px;
    }

    .form-group input {
        padding: 10px;
    }

    .login-btn {
        padding: 10px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .login-card {
        max-width: 90%;
    }
}